<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh sách Căn Cước Công Dân</title>
</head>
<body>
<h1>Danh sách Căn Cước Công Dân</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Họ Tên</th>
        <th>Ngày Sinh</th>
        <th>Giới Tính</th>
        <th>Dân Tộc</th>
        <th>Tôn Giáo</th>
        <th>Quê Quán</th>
        <th>Địa Chỉ Thường Trú</th>
        <th>Số Điện Thoại</th>
        <th>Email</th>
        <th>Ngày Cấp</th>
        <th>Nơi Cấp</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="canCuoc : ${danhSachCanCuocCongDan}">
        <td th:text="${canCuoc.id}"></td>
        <td th:text="${canCuoc.hoTen}"></td>
        <td th:text="${#dates.format(canCuoc.ngaySinh, 'dd/MM/yyyy')}"></td>
        <td th:text="${canCuoc.gioiTinh}"></td>
        <td th:text="${canCuoc.danToc}"></td>
        <td th:text="${canCuoc.tonGiao}"></td>
        <td th:text="${canCuoc.queQuan}"></td>
        <td th:text="${canCuoc.diaChiThuongTru}"></td>
        <td th:text="${canCuoc.soDienThoai}"></td>
        <td th:text="${canCuoc.email}"></td>
        <td th:text="${#dates.format(canCuoc.ngayCap, 'dd/MM/yyyy')}"></td>
        <td th:text="${canCuoc.noiCap}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>
